@charset "UTF-8";
/*Je n'arrive pas à faire en sorte que colour soit reconnu
$hover-lighten: lighten($colour,20%);*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes like {
  0% {
    fill: #ff79da;
    bottom: 100%;
  }
  60% {
    fill: #9356dc;
    bottom: 50%;
  }
  100% {
    fill: linear-gradient(#ff79da, #9356dc);
    bottom: 0%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes like {
  0% {
    fill: #ff79da;
    bottom: 100%;
  }
  60% {
    fill: #9356dc;
    bottom: 50%;
  }
  100% {
    fill: linear-gradient(#ff79da, #9356dc);
    bottom: 0%;
  }
}
@keyframes plates {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes plates__choice {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0%);
  }
}
body {
  background-color: #f5f5f5;
  font-family: roboto;
  max-width: 768px;
  box-sizing: border-box;
  margin: 0px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 30px 30px 0px 30px;
  margin: 0px;
}

p {
  font-family: roboto;
  font-size: 1rem;
  margin: 0px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

h4 {
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin: 0px;
  font-family: shrikhand;
  font-weight: 400;
}

h5 {
  font-size: 1.8rem;
  font-family: shrikhand;
  font-weight: 400;
  margin: 0px;
}

h6 {
  font-family: roboto;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 15px 0px 10px 0px;
  text-transform: uppercase;
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
  width: 50px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes like {
  0% {
    fill: #ff79da;
    bottom: 100%;
  }
  60% {
    fill: #9356dc;
    bottom: 50%;
  }
  100% {
    fill: linear-gradient(#ff79da, #9356dc);
    bottom: 0%;
  }
}
@keyframes plates {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes plates__choice {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0%);
  }
}
.btn {
  padding: 12px 15px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  cursor: pointer;
  border-style: none;
  margin: 10px auto 0px auto;
  font-family: roboto;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  width: 200px;
  font-size: 0.9rem;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.8);
}

.restaurant {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  background: white;
  position: relative;
  margin-bottom: 20px;
}
.restaurant img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.restaurant:hover {
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.8);
}
.restaurant--nouveau {
  color: black;
  background-color: #99E2D0;
  width: 90px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}
.restaurant__description {
  padding: 15px 20px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.like {
    background: none;
    border: none;
    cursor: pointer;
    svg {
        width: 23px;
        height: 25px;
        //overflow: hidden;
        :hover {
            animation: like 400ms ease-in-out;
        } 
    }
}*/
.like {
  position: relative;
  overflow: hidden;
  /*&::after {
      content:"";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient($colour-primary, $colour-secondary);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
  }*/
}
.like > button:first-child {
  border: none;
  background: none;
  transition: all 500ms ease-in-out;
}
.like > button:first-child i {
  font-size: 1.4rem;
}
.like > button:last-child {
  border: none;
  background: none;
  position: absolute;
  top: 25px;
  left: 0px;
}
.like > button:last-child i {
  font-size: 1.4rem;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: absolute;
}
.like:hover {
  overflow: visible;
  /*&::after {
      opacity:1;
  }*/
}
.like:hover > button:last-child {
  display: block;
  border: none;
  position: absolute;
  top: 0px;
}

.choice {
  width: 100%;
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  padding: 15px 15px 15px 10px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  transition: transform 400ms ease-in-out;
}
.choice .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 270px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 0;
}
.choice .title > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choice .title > p {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choice .price {
  z-index: 1;
  padding-left: 10px;
  background: white;
  height: 21px;
}
.choice > span {
  width: 65px;
  height: 100%;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translateX(100%);
}
.choice > span i {
  color: white;
  font-size: 1.5rem;
}
.choice:hover {
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.8); /*Ne fonctionne plus !!*/
}
.choice:hover span {
  transform: translateX(0);
}
.choice:hover .price {
  transform: translateX(-65px);
}

.restaurant--nouveau {
  color: black;
  background-color: #99E2D0;
  width: 90px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.spin {
  background: linear-gradient(#ff79da, #9356dc);
  height: 50px;
  width: 50px;
  animation: spin 3s linear;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header > span:first-child {
  width: 100%;
  background-color: white;
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid #f5f5f5;
}
header img {
  width: 50%;
}
header > span:nth-child(2) {
  background-color: gainsboro;
  width: 100%;
  padding: 15px 0px;
}
header i {
  padding-right: 10px;
}
header p {
  padding: 0px 20px;
  margin: 15px 0px;
}

.nav {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 20px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  margin: 0px;
  width: 100%;
  position: relative;
}
.nav a {
  position: absolute;
  left: 30px;
}
.nav a i {
  font-size: 1.4rem;
}

.header--menu {
  width: 100%;
  margin-bottom: 0px;
  max-height: 350px;
  object-fit: cover;
}

footer {
  background: #353535;
  color: white;
  padding: 20px 20px 30px 20px;
}
footer ul li {
  font-family: roboto;
  padding: 5px 0px;
  font-size: 14px;
}
footer ul li a {
  color: white;
}
footer ul li i {
  font-size: 10px;
  padding-right: 10px;
}

/*Section fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px 20px 30px 20px;
  margin-top: 40px;
}
.fonctionnement__step {
  margin: 15px 0px;
  text-decoration: none;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
}
.fonctionnement__step > span:first-child {
  color: white;
  border-radius: 50%;
  background: #9356dc;
  padding: 3px 8px;
  font-size: 0.9rem;
  position: relative;
  left: 10px;
}
.fonctionnement__step > span:nth-child(2) {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  background: #f5f5f5;
  padding: 20px;
  font-weight: 600;
  font-size: 0.9rem;
}
.fonctionnement__step > span:nth-child(2):hover {
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.8);
  border-radius: 20px;
}
.fonctionnement__step:active > span:nth-child(2) {
  background: #e4d5f6;
}
.fonctionnement__step:active i {
  color: #9356dc;
}
.fonctionnement__step i {
  padding: 5px 15px 5px 10px;
  color: grey;
  justify-content: center;
}

/*Section Restaurants*/
.restaurants {
  padding: 10px 20px 30px 20px;
}

.menu {
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -50px;
  background: #f5f5f5;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
.menu__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.menu__plates {
  margin-bottom: 15px;
  animation: plates 1000ms ease-in 0s backwards;
}
.menu__plates--1 {
  animation-delay: 500ms;
}
.menu__plates--2 {
  animation-delay: 1000ms;
}
.menu__plates--3 {
  animation-delay: 1500ms;
}
.menu__plates .choice {
  animation: plates__choice 1100ms ease-in 2300ms backwards;
}
.menu__plates .choice--1 {
  animation-delay: 2600ms;
}
.menu__plates .choice--2 {
  animation-delay: 2900ms;
}
.menu__plates .choice--3 {
  animation-delay: 3200ms;
}
.menu__plates .choice--4 {
  animation-delay: 3500ms;
}

/*# sourceMappingURL=styles.css.map */
