@keyframes plates__choice {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes disappear {
  0% {
    opacity: 100%;
    z-index: 100;
  }
  100% {
    opacity: 0%;
    z-index: -100;
  }
}
body {
  background-color: #f5f5f5;
  font-family: roboto;
  box-sizing: border-box;
  margin: 0px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 30px 30px 0px 30px;
  margin: 0px;
}

p {
  font-family: roboto;
  font-size: 1rem;
  margin: 0px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  width: 100%;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

/*h4 {
    font-size: 1.3rem;
    padding-bottom:15px;
    margin: 0px;
    font-family: shrikhand;
    font-weight: 400;
    width: 100%;
}*/
h4 {
  font-size: 1.8rem;
  font-family: shrikhand;
  font-weight: 400;
  margin: 0px;
}

h5 {
  font-family: roboto;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 15px 0px 10px 0px;
  text-transform: uppercase;
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
  width: 50px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@keyframes plates__choice {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes disappear {
  0% {
    opacity: 100%;
    z-index: 100;
  }
  100% {
    opacity: 0%;
    z-index: -100;
  }
}
.btn {
  padding: 12px 15px;
  color: white;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  border-radius: 30px;
  cursor: pointer;
  border-style: none;
  margin: 10px auto 0px auto;
  font-family: roboto;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  width: 200px;
  font-size: 0.9rem;
  transition: filter 0.5s;
}
.btn--menu {
  margin-top: 30px;
}
.btn:hover {
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.8);
  opacity: 75%;
}

.restaurant {
  width: 100%;
  min-width: 300px;
  height: 275px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  background: white;
  position: relative;
  transition: filter 0.5s;
}
.restaurant img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.restaurant:hover {
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.8);
  opacity: 75%;
}
.restaurant--nouveau {
  color: black;
  background-color: #99E2D0;
  width: 90px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}
.restaurant__description {
  padding: 15px 20px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 26px;
}
.like__btn {
  border: none;
  background: none;
  cursor: pointer;
}
.like__btn--full {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.like__btn--full i {
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.like:hover .like__btn--full {
  opacity: 1;
}

.choice {
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  padding: 15px 15px 15px 10px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  transition: all 400ms ease-in-out;
}
.choice .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 270px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choice .title > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choice .title > p {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.choice .price {
  padding-left: 10px;
  background: white;
  height: 21px;
  transition: all 400ms ease-in-out;
}
.choice > span {
  width: 65px;
  height: 100%;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translateX(100%);
  transition: all 400ms ease-in-out;
}
.choice > span i {
  color: white;
  font-size: 1.5rem;
  transform: rotate(0deg);
  transition: all 400ms ease-in-out 100ms;
}
.choice:hover {
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.8);
}
.choice:hover span {
  transform: translateX(0);
}
.choice:hover span i {
  transform: rotate(360deg);
}
.choice:hover .price {
  transform: translateX(-70px);
}

@keyframes plates__choice {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes disappear {
  0% {
    opacity: 100%;
    z-index: 100;
  }
  100% {
    opacity: 0%;
    z-index: -100;
  }
}
.container-spinner {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: disappear 500ms ease-out 3s forwards;
}
.container-spinner .outer-spin {
  height: 80px;
  width: 80px;
  background-image: linear-gradient(135deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 50%, #99E2D0 100%);
  border-radius: 50%;
  animation: rotate 1800ms linear 0ms 5;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container-spinner .outer-spin .inner-spin {
  height: 65px;
  width: 65px;
  background: #f5f5f5;
  border-radius: 50%;
  position: absolute;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header > span:first-child {
  width: 100%;
  background-color: white;
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  z-index: 50;
}
header .logo {
  width: 45%;
  max-width: 330px;
}
header > span:nth-child(2) {
  background-color: gainsboro;
  width: 100%;
  padding: 15px 0px;
  font-weight: 600;
}
header i {
  padding-right: 10px;
}
header p {
  padding: 0px 20px;
  margin: 15px 0px;
}

.nav {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 20px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  margin: 0px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.nav a {
  position: absolute;
  left: 30px;
}
.nav a i {
  font-size: 1.4rem;
}

.header--menu {
  width: 100%;
  margin-bottom: 0px;
}
.header--menu .img--menu {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  position: relative;
  top: -12px;
}
@media screen and (min-width: 680px) {
  .header--menu .img--menu {
    max-height: 380px;
  }
}

.grid {
  display: grid;
  width: 100%;
  justify-items: stretch;
  grid-gap: 2rem;
  /*&--menu {
      justify-items:stretch;
      @media screen and (min-width: 680px) {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
          grid-gap: 2rem;
      } 
  }*/
}
@media screen and (min-width: 680px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
  }
}

footer {
  background: #353535;
  color: white;
  padding: 20px 20px 30px 20px;
}
footer > span {
  font-size: 1.3rem;
  line-height: 3rem;
  font-family: shrikhand;
  font-weight: 400;
  width: 100%;
}
@media screen and (min-width: 680px) {
  footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
footer ul li {
  font-family: roboto;
  padding: 5px 10px 0px 0px;
  font-size: 1rem;
  padding-right: 30px;
}
footer ul li a {
  color: white;
}
footer ul li i {
  font-size: 1rem;
  padding-right: 10px;
}

.grid {
  display: grid;
  width: 100%;
  justify-items: stretch;
  grid-gap: 2rem;
  /*&--menu {
      justify-items:stretch;
      @media screen and (min-width: 680px) {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
          grid-gap: 2rem;
      } 
  }*/
}
@media screen and (min-width: 680px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
  }
}

/*Section fonctionnement*/
.fonctionnement {
  background: white;
  padding: 10px 20px 30px 20px;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}
.fonctionnement__step {
  width: 100%;
  min-width: 300px;
  text-decoration: none;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fonctionnement__step > span:first-child {
  color: white;
  border-radius: 50%;
  background: rgb(147, 86, 220);
  padding: 3px 3px;
  height: 23px;
  width: 23px;
  font-size: 0.9rem;
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__step > span:nth-child(2) {
  width: 80%;
  border-radius: 20px;
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.25);
  background: #f5f5f5;
  padding: 20px;
  font-weight: 600;
  font-size: 0.9rem;
}
.fonctionnement__step > span:nth-child(2) i {
  padding: 5px 15px 5px 10px;
  color: grey;
  justify-content: center;
}
.fonctionnement__step > span:nth-child(2):hover {
  box-shadow: 0.5px 5px 9px rgba(154, 154, 154, 0.8);
  border-radius: 20px;
  background: #e4d5f6;
}
.fonctionnement__step > span:nth-child(2):hover i {
  color: rgb(147, 86, 220);
}

/*Section Restaurants*/
.restaurants {
  padding: 10px 20px 30px 20px;
}

.menu {
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -50px;
  background: #f5f5f5;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
.menu__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 680px) {
  .menu__name {
    justify-content: center;
  }
}
@media screen and (min-width: 680px) {
  .menu__name .like {
    margin-left: 30px;
  }
}
.menu__plates .choice {
  animation: plates__choice 1100ms ease-in backwards;
}
.menu__plates .choice--1 {
  animation-delay: 300ms;
}
.menu__plates .choice--2 {
  animation-delay: 600ms;
}
.menu__plates .choice--3 {
  animation-delay: 900ms;
}
.menu__plates .choice--4 {
  animation-delay: 1200ms;
}

/*# sourceMappingURL=styles.css.map */
