.btn {
    padding: 12px 15px;
    color: white;
    background: linear-gradient($colour-secondary, $colour-primary);
    border-radius: 30px;
    cursor: pointer;
    border-style: none;
    margin-top: 10px;
    font-family: roboto;
    box-shadow: $shadow;
    &:hover {
        box-shadow: $shadow-hover;
    }
}
        /*@include btn-hover(linear-gradient($colour-secondary, $colour-primary))
    } - pas encore au point*/
    
/*pour les ombres quand survol : box-shadow: .5px 5px 9px #80808091;*/

.like {
    > button:first-child {
        border: none;
        background: none;
        i {
            font-size: 1.4rem;
        }
    }
    > button:last-child {
        display: none;
    }
    &:hover {
        > button:first-child {
            display: none;
        }
        > button:last-child {
            display: block;
            border: none;
            background: none;
            i {
                font-size: 1.4rem;
                color: linear-gradient($colour-primary, $colour-secondary);
            }   
            }
        }
    }
