@import "../1.utils/mixins";
@import "../1.utils/keyframes";

.btn {
    padding: 12px 15px;
    color: white;
    background: linear-gradient($colour-secondary, $colour-primary);
    border-radius: 30px;
    cursor: pointer;
    border-style: none;
    margin: 10px auto 0px auto;
    font-family: roboto;
    box-shadow: $shadow;
    width: 200px;
    font-size: 0.9rem;
    transition: filter .5s;
    &:hover {
        @include btn-hover;
    }
}

.restaurant {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: $shadow;
    background: white;
    position: relative;
    margin-bottom: 20px;
    transition: filter .5s;
    img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }
    &:hover {
        @include btn-hover;
    }
    &--nouveau {
        color: darken($colour-tertiary, 80%);
        background-color: $colour-tertiary;
        width: 90px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
    }
    &__description {
        padding: 15px 20px 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
}
       
// version avec le svg et keyframes like
/*.like {
    background: none;
    border: none;
    cursor: pointer;
    svg {
        width: 23px;
        height: 25px;
        //overflow: hidden;
        :hover {
            animation: like 400ms ease-in-out;
        } 
    }
}*/

// Version aux deux coeurs
.like {
    position: relative;
    overflow:hidden;
    > button:first-child {
        border: none;
        background: none;
        i {
            font-size: 1.4rem;
        }
    }
    > button:last-child {
        border: none;
        background: none;
        position: absolute;
        top: 25px;
        left:0px;
        i {
            font-size: 1.4rem;
            background-image: linear-gradient($colour-primary, $colour-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-position: absolute;
            transform: translateY(0px);
        }
    }
    &:hover {
        overflow: hidden;
        > button:last-child {
            display: block;
            border: none;
            position: absolute;
            transform: translateY(-25px);
            transition: transform 500ms ease-in-out;
        }   
        /*&::after {
            opacity:1;
        }*/
    }
   //Pour faire fonctionner opacity, à voir plus tard
    /*&::after {
        content:"";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
    }*/
}

.choice {
    width: 100%;
    font-family: roboto;
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background: white;
    box-shadow: $shadow;
    padding: 15px 15px 15px 10px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    transition: all 400ms ease-in-out;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align:left;
        width: 270px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        > span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        > p {
            font-weight: 400;
            font-size: 1rem;
            padding-top: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .price {
        padding-left: 10px;
        background: white;
        height: 21px;
        transition: all 400ms ease-in-out;
    }
    > span {
        width:65px;
        height:100%;
        background: $colour-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        transform: translateX(100%);
        transition: all 400ms ease-in-out;
        i {
            color: white;
            font-size: 1.5rem;
            transform: rotate(0deg);
            transition: all 400ms ease-in-out 100ms;
        }
    }
    &:hover {
        box-shadow: $shadow-hover;
        span {
            transform: translateX(0);
            i {
                transform: rotate(360deg);
            }
        }
        .price {
            transform: translateX(-70px);
        }
        }
}
