@import "../1.utils/mixins";
@import "../1.utils/keyframes";

.btn {
    padding: 12px 15px;
    color: white;
    background: linear-gradient($colour-secondary, $colour-primary);
    border-radius: 30px;
    cursor: pointer;
    border-style: none;
    margin: 10px auto 0px auto;
    font-family: roboto;
    box-shadow: $shadow;
    width: 200px;
    font-size: 0.9rem;
    transition: filter .5s;
    &:hover {
        @include btn-hover;
    }
}

.restaurant {
    width: 100%;
    min-width: 300px;
    height: 275px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: $shadow;
    background: white;
    position: relative;
    transition: filter .5s;
    img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }
    &:hover {
        @include btn-hover;
    }
    &--nouveau {
        color: darken($colour-tertiary, 80%);
        background-color: $colour-tertiary;
        width: 90px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
    }
    &__description {
        padding: 15px 20px 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.4rem;
    width: 26px;
    &__btn {
        border: none;
        background: none;
        cursor: pointer;
        &--full {
            position: absolute;
            opacity: 0;
            transition: opacity 300ms ease-in-out;
            i {
                background-image: linear-gradient($colour-secondary, $colour-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }  
        }
    }
    &:hover {
        .like__btn--full {
            opacity: 1;
        } 
    } 
}

.choice {
    width: 100%;
    font-family: roboto;
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background: white;
    box-shadow: $shadow;
    padding: 15px 15px 15px 10px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    transition: all 400ms ease-in-out;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align:left;
        width: 270px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        > span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        > p {
            font-weight: 400;
            font-size: 1rem;
            padding-top: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .price {
        padding-left: 10px;
        background: white;
        height: 21px;
        transition: all 400ms ease-in-out;
    }
    > span {
        width:65px;
        height:100%;
        background: $colour-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        transform: translateX(100%);
        transition: all 400ms ease-in-out;
        i {
            color: white;
            font-size: 1.5rem;
            transform: rotate(0deg);
            transition: all 400ms ease-in-out 100ms;
        }
    }
    &:hover {
        box-shadow: $shadow-hover;
        span {
            transform: translateX(0);
            i {
                transform: rotate(360deg);
            }
        }
        .price {
            transform: translateX(-70px);
        }
        }
}