.restaurant--nouveau {
    color: darken($colour-tertiary, 80%);
    background-color: $colour-tertiary;
    width: 90px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.spin {
    background: linear-gradient($colour-secondary, $colour-primary);
    height: 50px;
    width: 50px;
    animation: spin 3s linear;
    margin: auto;
}