@import "../1.utils/keyframes";
.outer-spin {
    //position: absolute;
    //left: calc(50% - 150px);
    height: 80px;
    width: 80px;
    background-image: linear-gradient(135deg,$colour-secondary 0%, $colour-primary 50%, $colour-tertiary 100%);
    border-radius: 50%;
    animation: rotate 1800ms linear 5s;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .inner-spin {
        //position: absolute;
        //left: calc(50% - 140px);
        height: 65px;
        width: 65px;
        background: $lightgrey;
        border-radius: 50%;
        position: absolute;
    }
}