@import "../1.utils/keyframes";

.spin {
    background: linear-gradient($colour-secondary, $colour-primary);
    height: 50px;
    width: 50px;
    animation: spin 3s linear infinite paused;
    &:hover {
        animation-play-state: running;
    }
}