.plates__choice {
    width: 100%;
    font-family: roboto;
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background: white;
    box-shadow: $shadow;
    padding: 15px 15px 15px 10px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    p {
        font-weight: 400;
        font-size: 1rem;
        padding-top: 5px;
        position: relative;
        left: -20px;
    }
    &:hover {
        box-shadow: $shadow-hover;
    }
}
/*pour les ombres quand survol : box-shadow: .5px 5px 9px #80808091;*/