body {
    background-color: $lightgrey;
    font-family: roboto;
    max-width: 768px;
    box-sizing: border-box;
}
h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 30px 30px 0px 30px;
    margin: 0px;
}
p {
    padding: 0px 20px 0px 20px;
}