footer {
    background: $colour-footer;
    color: white;
    padding: 30px 20px;
    ul {
        @media (min-width: 992px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        li {
            font-family: roboto;
            padding: 5px 10px 0px 0px;
            font-size: 1rem;
            padding-right: 30px;
            a {
                color: white;
            }
            i {
                font-size: 1rem;
                padding-right: 10px;
            }
        }
    }
}