footer {
    background: $colour-footer;
    color: white;
    padding: 20px 20px 30px 20px;
    ul {
        li {
            font-family: roboto;
            padding: 5px 0px;
            font-size: 14px;
            i {
                font-size: 10px;
                padding-right: 10px;
            }
        }
    }
}