.grid {
    display: grid;
    width:100%;
    justify-items: stretch;
    grid-gap: 2rem;
    @media screen and (min-width: 680px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem;
    } 
}