@keyframes plates__choice {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform:rotate(0turn);
    }
    to {
        transform:rotate(1turn);
    }
}