@keyframes plates__choice {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform:rotate(0turn);
    }
    to {
        transform:rotate(1turn);
    }
}

@keyframes disappear {
    from {
        opacity: 100%;
        z-index: 100;
    }
    to {
        opacity: 0%;
        z-index: -100;
    }
}