@mixin btn-hover($colour) {
    box-shadow: $shadow-hover;
    background: lighten($colour, 20%);
}

@keyframes like {
    0% {
        fill: $colour-secondary;
    }
    50% {
        fill: $colour-primary;
    }
}