$colour-primary: rgb(147, 86, 220);
$colour-secondary: rgb(255, 121, 218);
$colour-tertiary: #99E2D0;
$lightgrey: #f5f5f5;
$colour-footer: #353535;
$shadow: 0.5px 5px 9px rgb(154 154 154 / 25%);
$shadow-hover: 0.5px 5px 9px rgb(154 154 154 / 80%);



