.menu {
    border-radius: 40px 40px 0px 0px;
    position: relative;
    top: -50px;
    background: $lightgrey;
    padding: 30px 20px;
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
