.menu {
    border-radius: 40px 40px 0px 0px;
    position: relative;
    top: -50px;
    background: $lightgrey;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    &__plates {
        margin-bottom: 15px;
        animation: plates 1000ms ease-in 0s backwards;
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 500ms * $i;
                }
            }
        .choice {
            animation: plates__choice 1100ms ease-in 2300ms backwards;
                @for $i from 1 through 4 {
                    &--#{$i} {
                       animation-delay: 300ms * $i + 2300ms; 
                    }
                }
        }            
    }
}
